<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MMM-dd hh:mm:ss a } %level %c - %m %n" />
        </Console>
        <JDBC name="postgres" tableName="APP_LOGS">
            <DriverManager connectionString="jdbc:postgresql://localhost:5432/postgres"
                           driverClassName="org.postgresql.Driver"
                           username="postgres"
                           password="123qwe"/>
            <Column name="LOG_ID" pattern="%u" isUnicode="false"/>
            <Column name="ENTRY_DATE" isEventTimestamp="true" isUnicode="false"/>
            <Column name="LOGGER" pattern="%logger" isUnicode="false"/>
            <Column name="LOG_LEVEL" pattern="%level" isUnicode="false"/>
            <Column name="MESSAGE" pattern="%m" isUnicode="false"/>
            <Column name="EXCEPTION" pattern="%throwable " isUnicode="false"/>
        </JDBC>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="postgres" level="DEBUG"/>
            <AppenderRef ref="stdout" level="INFO"/>
        </Root>
    </Loggers>
</Configuration>